<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>文字</string>
		<key>items</key>
		<array>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>自定义</string>
				<key>sel</key>
				<string>touchDownTextCustom:</string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>电影字幕</string>
				<key>sel</key>
				<string>touchDownTextMovie:</string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>水印</string>
				<key>sel</key>
				<string>touchDownTextWaterMark:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>语音</string>
		<key>items</key>
		<array>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>图片</string>
		<key>items</key>
		<array>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>调整</string>
		<key>items</key>
		<array>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>特效</string>
		<key>items</key>
		<array>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>裁剪</string>
		<key>items</key>
		<array>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>旋转</string>
		<key>items</key>
		<array>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>光圈</string>
		<key>items</key>
		<array>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
